body {
    background-image: url('coffe\ banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* background-size: 1500px 450px; */
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
}

.title {
    /* 
    color: white;
    font-size: 50px;*/
    margin-top: 180px; 
    text-align: center;
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.search-box {
    margin-top: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.search-box input {
    width: 40%;
    padding: 12px 20px;
    font-size: 18px;
    border: 2px solid #6b4f33;
    border-radius: 50px;
    outline: none;
    text-transform: capitalize;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.search-box input:focus {
    border-color: #a67c52;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}

#search-result {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
    margin-top: 30px;
}

.Allproducts {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
}

.product img {
    width: auto;
    height: 200px;
    border-radius: 10px;
}

.product h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.product a {
    text-decoration: none;
}
.button {
    padding: 7px 15px;
    background-color: #8B5E3C; 
    color: white;
    border: none; 
    border-radius: 4px;   
    cursor: pointer;
    margin-bottom: 30px;
}