*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url("bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    height: 100vh;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.welcometext{
    /* border: 2px solid red; */
    width: 550px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 35px;
    display: flex;
   
}
.welcometext img{
    margin: 60px;
}

span{
    color: #A2592D;
}
.cup-img{
    height: 250px;
    width: 250px;
}

